*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
   background-color: brown;
   align-items: center;
}
.right{
    justify-content: center;
    align-items: center;
    display: flex;
}
.right .items{
    padding: 20px;
}
.right .items:hover{
    background-color: blue;
}
.dropdown{
    display: none;
}
.dropdown{
    position: absolute;
    top: 50px;
    background-color: rgb(173, 181, 181);
     left: -8px; 
}
#dp:hover .dropdown{
display: block;
}
#dp{
    position: relative;
}
.dropdown .dropdown_items{
    padding: 15px;
}
.dropdown_items:hover{
    background-color: black;
}
.items:nth-child(2):hover{
    background-color:black;
}