*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.instagram_clone{
display: flex;
justify-content: center;
align-items: center;
}
.side_bar{
    /* background-color: brown; */
    height: 100vh;
    width: 20%;
    border-right: 1px solid gray;
    padding: 5px;
}
.side_bar .item{
    padding: 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.3rem;

}
.material-symbols-outlined{
    margin-right: 10px;
}
.post_section{
    /* background-color:tomato; */
    height: 100vh;
    width: 55%;
}
.right_bar{
    /* background-color:chocolate; */
    height: 100vh;
    width: 23%;
}
.post_section .insta_story .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    text-align: center;
    padding: 10px;
    gap: 5px;
}
.post_section .insta_story .item img{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    border: 3px solid yellow;
    padding: 2px;
}
.post_section .insta_story{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.post_section .post .person{
    display: flex;
    align-items: center;
    gap: 10px;
}
.person .img img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 3px solid yellow;
}
.post{
    /* background-color: blue; */
    width: 70%;
    margin: auto;
    
}
.post .img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue;
   */
}
#p img{
 width: 500px;
 padding: 20px;
 border-radius: 40px;

}